<% provide(:title, "Contact") %>

    <h1>Sample App</h1>
    <p>
      You can contact us follow this
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
